<div>
  <div class="viewerMainContainer">
    <app-viewer [number]="535"></app-viewer>
    <app-viewer [number]="102"></app-viewer>
    <app-viewer [number]="9420"></app-viewer>
  </div>
  <div class="viewerMainContainer">
    <!-- <app-headline [headline]="'viewer94314'"></app-headline>
    <app-dashboard [title]="'time on pain point 1'"></app-dashboard>
    <app-dashboard [title]="'bounce rate'"></app-dashboard>
    <app-dashboard [title]="'cost per click'"></app-dashboard> -->
  </div>
  <div id="assignmentContainer">
    <div style="width: 100%; display: flex; justify-content: center">
      <h3
        style="
          color: #666;
          border: 6px solid black;
          font-size: 38px;
          text-align: center;
          width: 180px;
        "
      >
        Todo app
      </h3>
    </div>
    <div>
      <app-parent>
        <app-child></app-child>
      </app-parent>
    </div>
  </div>
</div>
