<div>
  <div class="viewerMainContainer">
    <app-viewer [number]="535"></app-viewer>
    <app-viewer [number]="102"></app-viewer>
    <app-viewer [number]="9420"></app-viewer>
  </div>
  <app-headline [headline]="'viewer94314'"></app-headline>
  <app-dashboard [title]="'time on pain point 1'"></app-dashboard>
  <app-dashboard [title]="'time on pain point 2'"></app-dashboard>
  <app-dashboard [title]="'time to conversion'"></app-dashboard>
  <app-dashboard [title]="'bounce rate'"></app-dashboard>
  <app-dashboard [title]="'cost per click'"></app-dashboard>
</div>
